
#main 
{
    float: left; 
    width: 400px;
    height: 150px;
} 
th, td
{
    padding: 20px;
    border: 1px solid black;
    border-collapse: separate;
    empty-cells:hide;
}
.element_card
{
    float: right;
    border: 1px solid black;
}

